<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="margin-bottom">
        <label for="name">Name: </label>
        <input id="name" type="text" formControlName="name">
    </div>

    @if (name.errors) {
        <p class="error">Name must have maximum 10 characters.</p>
    }

    <div class="margin-bottom">
        <label for="value">Price: </label>
        <input id="value" type="number" formControlName="value">
    </div>

    @if (value.errors) {
        <p class="error">Value should be between 10 and 100.</p>
    }

    <div class="margin-bottom">
        <label for="description">Description: </label>
        <input id="description" type="text" formControlName="description">
    </div>

    <div class="margin-bottom">
        <label for="category">Category: </label>
        <input id="category" type="text" formControlName="category">
    </div>

    <button type="submit" [disabled]="!productForm.valid">Submit</button>
</form>
<router-outlet></router-outlet>